.cardMenu {
  cursor: pointer;
  /* max-width: 190px; */
  min-width: 150px;
  transition: all 0.2s ease;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.cardMenu:hover {
  transform: scale(1.02);
  transition: all 0.2s ease;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1) !important;
}
.harga {
  color: var(--primary);
}
