@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
html,
body {
  font-family: 'Roboto', Arial;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #424242;
}
#root,
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
:root {
  --blue2: linear-gradient(115.16deg, #61a0f7 24.15%, #4393ff 73.72%);
}
